---
import type { PokemonDetails } from "../../pokeapi/interfaces";
import { POKEAPI } from "../../pokeapi/urls";

interface Props {
  url: string;
}

const { url } = Astro.props;

const res = await fetch(url);
const pokemon = (await res.json()) as PokemonDetails;
const name = pokemon.name;
const img = pokemon.sprites.other?.["official-artwork"].front_default;
---

<a href=`/pokemons/${name}`>
  <div>{name}</div>
  <img src={img} alt={name} />
</a>

<style>
  a {
    border: 1px solid #333;
    width: 100px;
    padding: 5px;
    border-radius: 5px;

    img {
      max-width: 100%;
    }
  }
</style>
