---
import type { GetStaticPaths } from "astro";
import Layaout from "../../layouts/Layaout/Layaout.astro";

export const getStaticPaths = (() => {
  return [{ params: { name: "bulbasaur" } }, { params: { name: "ivysaur" } }];
}) satisfies GetStaticPaths;

const { name } = Astro.params;
---

<Layaout title={name}>
  <h1>{name}</h1>
</Layaout>
