---
import Nav from "../components/Nav/Nav.astro";
import Layaout from "../layouts/Layaout/Layaout.astro";
---

<Layaout title="Astro">
  <h1>Astro</h1>

  <Nav />

  <div>
    Hora: <span id="time">{new Date().toLocaleTimeString()}</span>
  </div>
</Layaout>

<script>
  const time = document.querySelector("#time") as HTMLElement;

  setInterval(() => {
    time.textContent = new Date().toLocaleTimeString();
  }, 1000);
</script>
