---
import Nav from "../components/Nav/Nav.astro";
import Layaout from "../layouts/Layaout/Layaout.astro";
---

<Layaout title="Astro">
  <h1>Astro</h1>

  <Nav />

  <div>
    Hora: <span id="time">{new Date().toLocaleTimeString()}</span>
  </div>
</Layaout>

<script>
  let intervalId: number;

  document.addEventListener("astro:page-load", () => {
    intervalId = setInterval(() => {
      const time = document.querySelector("#time") as HTMLElement;
      time.textContent = new Date().toLocaleTimeString();
    }, 1000);
  });

  document.addEventListener("astro:before-preparation", () => {
    console.log(intervalId, "interval ");
    clearInterval(intervalId);
  });
</script>
