---
import Pokemon from "../components/Pokemon/Pokemon.astro";
import Layaout from "../layouts/Layaout/Layaout.astro";
import type { Pokemons } from "../pokeapi/interfaces";
import { POKEAPI } from "../pokeapi/urls";
import { PAGES } from "./pages";

const res = await fetch(POKEAPI.pokemons);
const pokemons = (await res.json()) as Pokemons;
---

<Layaout title={PAGES.pokemons.display}>
  <h1>Pokemons</h1>
  <ul>
    {pokemons.results.map((item) => <Pokemon url={item.url} />)}
  </ul>
</Layaout>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
</style>
