---
import { PAGES } from "../../pages/pages";
---

<nav>
  <a href={PAGES.index.path}>{PAGES.index.display}</a>
  <a href={PAGES.pokemons.path}>{PAGES.pokemons.display}</a>
  <a href="/contact">Contacto</a>
</nav>
